html
	height 100%
	overflow hidden

body
	margin 0
	height 100%
	overflow auto
	background-color #000

nav
	position absolute
	z-index 1
	bottom 3rem
	right 3rem
	a
		display inline-block
		color #eee
		background-color #222
		padding .5rem
		border-radius 50%
		transition color .5s
		svg
			display inline-block
			vertical-align middle
			width 2rem
			height 2rem
		&:hover
			color #ffcc00
		&:not(:last-child)
			margin-right 1rem

canvas
	display block
	position absolute
	top 0
	left 0